MainMenu {
    align: center middle;
    padding: 3;
    margin: 3;
    border: round rgb(108, 191, 150);
}

Button {
    margin: 1;
    width: 100%;
}

Input {
    width: 50%;
    align: center middle;
}

HelpContainer {
    border: round rgb(108, 191, 150);
    padding: 1;
    margin: 2;
}

HorizontalGroup {
    align: center middle;
    margin: 1;
}

GraphInputContainer {
    border: round rgb(108, 191, 150);
}

.bold {
    text-style: bold;
}

.italic {
    text-style: italic;
}

.title {
    text-style: bold;
    text-align: center;
    margin-bottom: 2;
    margin-top: 1;
    border: round rgb(108, 191, 150);
    color: rgb(108, 191, 150);
}

Static {
    padding: 1;
}

#graph_output {
    border: round rgb(108, 191, 150);
    margin: 0;
    padding: 0;
}

#error_message {
    color: red;
    text-align: center;
    border: round rgb(108, 191, 150);
    padding: 1;
}